mlflow
pandas
lightgbm
python-dotenv
sqlalchemy
scikit-learn==1.7.2
psycopg2-binary
nltk
kagglehub
azure-storage-blob
adlfs
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
