# .dockerignore

# Git
.git
.gitignore
.gitattributes

# VSCode
.vscode

# Python Caches
__pycache__/
*.pyc

project_guide/

# Secrets
.env
*.env

# Python venv
venv/

# Testing artifacts
.pytest_cache/

# --- NEW: Frontend Artifacts ---
frontend/node_modules
frontend/build
frontend/.DS_Store

.pytest_cache/
tests/
pytest.ini

notebooks/

# --- NEW: CI/CD pipeline files ---
.github/

# --- NEW: Monitoring data (preventative) ---
monitoring/prometheus/data/
monitoring/grafana/data/

raw_guide/
