# Virtual environment
venv/

# Secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large model files (use Azure storage instead)
ml/models/

run_cmds.txt
dir_struct.txt
future_work.txt