redis
mlflow
sqlalchemy
psycopg2-binary
python-dotenv
scikit-learn==1.7.2
pandas
spacy==3.7.2
azure-storage-blob
nltk
kagglehub
azure-storage-blob
adlfs
prometheus-client
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
